
.custom-card {
    background-image: url(./assets/images/wags.png);
    background-size: cover;
    background-position: center;
    transition: background-size 1.0s ease-in-out;
    overflow: hidden;
    position: relative;
}

.git-icon {
    z-index: 100;
    max-width: 30%;
    position: absolute;
    top: 10px;
    right: 10px;
    height: 50px;
    width: 50px;
}

.custom-card:hover {
    transition: background-size 0.5s ease;
    background-size: 110% auto;
  }
  